
<!DOCTYPE html>
<html>
<head>
    <title>Create PPT from CSV</title>
</head>
<body>
    <h1>Upload CSV and PPT Template to Generate Slides</h1>
    /process
        <label for="csv_file">Upload CSV File:</label><br>
        <input type="file" name="csv_file" accept=".csv" required><br><br>

        <label for="template_file">Upload PPT Template:</label><br>
        <input type="file" name="template_file" accept=".pptx" required><br><br>

        <button type="submit">Generate PPT</button>
    </form>
</body>
</html>
